{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block nav %}
<ul class="nav navbar-nav">
    <li><a href="/book_admin">图书管理员主页</a></li>
</ul>
<ul class="nav navbar-nav">
    <li><a href="/book_admin/borrow">借书</a></li>
</ul>
<ul class="nav navbar-nav">
    <li><a href="/book_admin/return">还书</a></li>
</ul>
<ul class="nav navbar-nav">
    <li><a href="/all_book">所有图书</a></li>
</ul>
<ul class="nav navbar-nav">
    <li><a href="/add_new_book">添加图书</a></li>
</ul>
<ul class="nav navbar-nav">
    <li><a href="/timeout">超期图书</a></li>
</ul>
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>所有图书</h1>
</div>
<div class="page-body">
    <table class="table">
        <tr class="active"> <td>图书编号</td> <td>书名</td> <td>作者</td> <td>出版社</td> <td>出版日期</td>
            <td>价格</td> <td>分类</td> <td>馆藏数量</td> <td>剩余数量</td> <td>读者范围</td>
            <td>被借次数</td> <td>编辑</td> <td>删除</td>
        </tr>
    {% for book in books %}
    <tr>
        {% for x in book %}
        <td>{{x}}</td>
        {% endfor %}
        <td><a href="book_edit/{{book[0]}}">
            <span class="glyphicon glyphicon-pencil">
            </span></a>
        </td>
        <td><a href="javascript:if(confirm('确实要删除该条记录吗？'))location='/delete_book/{{book[0]}}'"
               style="cursor: pointer">
            <span class="glyphicon glyphicon-remove"></span></a>
        </td>
    </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}
